BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
PointerAlignment: Left
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
DerivePointerAlignment: false
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: false
SpacesInAngles: false
