<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.vhusso.rocksmithbridge.helper</string>
  <key>ProgramArguments</key>
  <array>
    <string>__HELPER_PATH__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardErrorPath</key>
  <string>__HELPER_ERROR_LOG__</string>
  <key>StandardOutPath</key>
  <string>__HELPER_OUTPUT_LOG__</string>
</dict>
</plist>
