<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string>RocksmithMotuBridge</string>
  <key>CFBundleIdentifier</key>
  <string>com.vhusso.rocksmithbridge.driver</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>Rocksmith MOTU Bridge</string>
  <key>CFBundlePackageType</key>
  <string>BNDL</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
    <string>MacOSX</string>
  </array>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CFPlugInFactories</key>
  <dict>
    <key>0F3CCB9A-3C46-4E7A-9B40-7E6878EC03EF</key>
    <string>RocksmithBridge_Create</string>
  </dict>
  <key>CFPlugInTypes</key>
  <dict>
    <key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
    <array>
      <string>0F3CCB9A-3C46-4E7A-9B40-7E6878EC03EF</string>
    </array>
  </dict>
  <key>LSMinimumSystemVersion</key>
  <string>14.0</string>
</dict>
</plist>
